<form id="regoForm" action="/create" method="post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-md-offset-2" id="attendees">
    <h3>Attendees:</h3>

    <div class="controls">
      <div class="form-inline">
        <div class="row">
          <div class="form-group">
            <input class="form-control" id="hashName" type="text" name="names[]" placeholder="Name">
            <input class="form-control" id="kennel" type="text" name="kennel[]" placeholder="Kennel">
            <a href="#" id="add_tooltip" data-toggle="tooltip" title="Click to add another attendee">
              <button class="btn btn-success btn-add" id="add_button" type="button">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </a>
            </span>
          </div>
        </div>

        <!-- template for adding a new attendee -->
        <div class="row hide" id="attendeeTemplate">
          <div class="form-group">
            <input class="form-control" type="text" name="names[]" placeholder="Name">
            <input class="form-control" type="text" name="kennel[]" placeholder="Kennel">
            <button class="btn btn-danger btn-rmv" type="button">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            </span>
          </div>
        </div>
      </div>
      <a href="#" data-toggle="tooltip" id="new_tooltip" title="Enter your name(s) as 'Just <name>' and leave the kennel field blank">New
        to the group?</a>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <div class="center-block">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
      data-image="<%= asset_path 'hhhlogo.png' %>"
      data-name="Hashpay"
      data-description="Payment for <%= event[:name] %>"
      data-amount="<%= event[:cost] * 100 %>"
      data-panel-label="Pay {{amount}} per person">
      </script>
      <h6><a id="credit_secure" href="https://stripe.com/help/security">Is my credit card information secure?</a></h6>
    </div>
  </div>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
</form>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var $attendeeCount = 1;

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('#regoForm')
      // Add button click handler
        .on('click', '.btn-add', function () {
          var $template = $('#attendeeTemplate'),
              $clone = $template
                  .clone()
                  .removeClass('hide')
                  .removeAttr('id')
                  .insertBefore($template);
          $attendeeCount++;
        })
      // Remove button click handler
        .on('click', '.btn-rmv', function () {
          var $row = $(this).parents('.row');
          $attendeeCount--;
          $row.remove();
        });
  });
</script>