<!DOCTYPE html>
<html>
<head>
  <title>Hashpay</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= image_tag('compressed_logo.svg', style: 'height:auto;width:100%;') %>
      </div>
    </div>
    <div class="row">
      <div class="panel-group">
        <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <%= render partial: "shared/flash_messages", flash: flash %>
            <%= yield %>
          </div>
          <div class="panel-footer"></div>
          <div id="icon_footer" class="col-md-2 col-md-offset-10">
            <% kennel = @kennel if @kennel %>
            <% kennel = @event.kennel if @event %>
            <% if kennel %>
              <% if kennel.facebook_url %>
                <a id="facebook_link" href="<%= kennel.facebook_url %>">
                  <%= image_tag('/images/facebookbutton.png', {alt: 'Facebook', class: 'img-responsive', id: 'facebook_button'}) %>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
