<!DOCTYPE html>
<html>
<head>
  <title>Hashpay</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <%= image_tag('/images/p3h3_temp_logo.png', {alt: 'P3H3 Inaugural run Rego', class: 'img-responsive'}) %>
  <div class="panel-group">
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
      <div class="panel-heading">
        <%= render partial: "shared/flash_messages", flash: flash %>
      </div>
      <div class="panel-body">
        <%= yield %>
      </div>
      <div class="panel-footer"></div>
      <div class="col-md-2 col-md-offset-10">
        <a id="facebook_link" href="https://www.facebook.com/groups/883347525061033/">
          <%= image_tag('/images/facebookButton.jpg', {alt: 'Facebook', class: 'img-responsive', id: 'facebook_button'}) %>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
