<!DOCTYPE html>
<html>
<head>
  <title>Hashpay</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "shared/flash_messages", flash: flash %>
<div class="container">
  <div class="center-block">
    <%= image_tag('/images/hhhlogo.png', { alt: 'P3H3 Inaugural run Rego', class: 'img-responsive' }) %>
  </div>
  <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading"></div>
    <%= yield %>
    <div class="panel-footer"></div>
  </div>
</div>
</body>
</html>
